.counter-button--small {
    font-size: 14px;
    padding: 10px 16px;
    background-color: aquamarine;
}

.counter-button--large {
    font-size: 16px;
    padding: 12px 24px;
    background-color: lightseagreen;
}

.counter-button--primary {
    font-weight: 700;
    border: 0;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
}